---
import Layout from '../layouts/Layout.astro';
import { PrismaClient } from '../generated/client/runtime/edge'

const prisma = new PrismaClient();
const users = await prisma.user.findMany();
---

<Layout title="Welcome to Astro.">
	<main>
		<ul>
			{users.map(user => <li>{user.id}</li>)}
		</ul>
	</main>
</Layout>
